*.log
*.userprefs
*.csproj.user
*.pidb
*.suo
*.user
*.userosscache
*.sln.docstates
.vs/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ibrary/
[Ll]ogs/
[Aa]ssets/**/*.meta
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
[Mm]emoryCaptures.meta
# [Aa]ssets/AssetStoreTools*
